body{
    font-family: arial;
    background-color: rgb(228, 222, 222);
}

h1{
    text-align: center;
}g

form{
    background-color: white;
    width: 400px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 20px;
    box-shadow: 0 0 10px gray;
    border-radius: 8px;
}