body{
    text-align: center;
    margin-top: 15%;
    justify-content: center;

}

div{
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
    transition: transform 0.1s;
}

div:hover{
    /*transform: translate(15px, 10px);*/
    transform: scale(1.5, 1.5);
}