body {
    height: 90vh;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    color: lightgray;
    font-family: arial;
    font-size: 30px;
    text-shadow: 1px 1px 4px white;

    /* background: linear-gradient(40deg, brown, rgb(68, 18, 18), black); */
    /*background: radial-gradient(black, rgb(68, 18, 18), brown  );*/
    /*background: repeating-linear-gradient( 
        brown 70px,
        rgb(68, 18, 18) 70px,
        black 140px
    );*/
    background: repeating-radial-gradient(
        circle,
        black,
        rgb(155, 75, 155) 70px,
        rgb(155, 75, 155) 140px


    );
    
    

    

}
